* {
    font-family: Arial, Helvetica, sans-serif;
}

body {      
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.header-main {
    background-color: #f8f9fa;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

footer {
    background-color: rgb(26, 26, 26);
    color: white;
    margin-top: 48px;
}


footer ul {
    position: relative;
    margin-top: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style-type: none;
    display: inline-block;
}

footer li {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

footer ul p {
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}

#footer-copyright {
    text-align: center;
}